<div class="instructions">
  
<p><strong>Wait!</strong> A new Git repository needs a little bit of setup. You'll need to open a terminal and type (or cut and paste) some Git commands.</p>

<p><em>Is this a completely new project?</em> Type these commands:</p>

<pre>
mkdir <%= repository.slug %> # or any other directory name you would like
cd <%= repository.slug %>
git init
touch README
git add README
git commit -m 'first commit'
git remote add origin git.lab.viget.com:/srv/git/<%= repository.slug %>.git
git push origin master
</pre>

<p>Or <em>do you have an existing git repository to push into this one?</em> Type these commands:</p>

<pre>
cd existing_git_repo
git remote add origin git.lab.viget.com:/srv/git/<%= repository.slug %>.git
git push origin master
</pre> 

</div>
