<% form_for @repository do |form| %>
<%= custom_error_messages(form) %>
<div class="text_field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<p class="buttons">
  <%= link_to_function 'Create Repository', 'this.parentNode.parentNode.submit();' %>
</p>
<% end %>
