<% form_for @repository do |form| %>
<%= custom_error_messages(form) %>
<div class="text_field">
  <%= form.label :name %>
  <%= form.text_field :name %>
</div>
<div class="submit_field">
  <%= form.submit "Rename Repository", :disable_with => "Please wait...", :class => 'ralph' %>
</div>
<% end %>
