<%= render @repositories %>

<% if signed_in? %>
<p class="buttons">
<%= link_to 'Create a new repository', new_repository_path %>
</p>
<% end %>

<div class="instructions">
<h2>The Repo Code</h2>

<p>"'I shall not cause harm to any repository nor the source code contents thereof, nor through inaction let that repository or the source code contents thereof come to harm.'<br/>It's what I call the Repo Code, kid. Don't forget it. Etch it in your brain. Not many people got a code to live by anymore."</p>

<p><strong>Translation:</strong> Please do not delete repositories other people are still using. Thank you, and good night.</p>
</div>
