body { text-align: center; }
div#error-container { border-bottom: 100px solid #99f; padding-bottom: 100px; }
h1 { font-family: Rockwell, Helvetica, sans-serif; font-size: 150px; background-color: white; color: #006; font-weight: normal;}
h2 { font-family: Helvetica, sans-serif; background-color: white; color: #006; }
