<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="/stylesheets/repoman.css" type="text/css" media="screen" charset="utf-8">
  <title>API</title>
</head>
<body>
  <div id="api-container">
    <h1>application programming interface</h1>
  </div>

  <p>Repo Man has an API that is accessible via <a href="http://api.rubyonrails.org/files/vendor/rails/activeresource/README.html">Active Resource</a>:</p>

  <pre><code>
&gt;&gt; require 'rubygems'
=&gt; true
&gt;&gt; require 'active_resource'
=&gt; true
&gt;&gt; module RepoMan
&gt;&gt;   class Repository &lt; ActiveResource::Base
&gt;&gt;     self.site = '<%= root_url %>'
&gt;&gt;   end
&gt;&gt; end
=&gt; "<%= root_url %>"
&gt;&gt; food = RepoMan::Repository.create(:name =&gt; 'Food (Meat Flavored)', :scm =&gt; 'git')
=&gt; #&lt;RepoMan::Repository:0x17c2ecc @attributes={"name"=&gt;"Food (Meat Flavored)", "updated_at"=&gt;Tue Apr 21 17:26:42 UTC 2009, "id"=&gt;18, "scm"=&gt;"git", "path"=&gt;"<%= Scm.url_for('git', 'food-meat-flavored') %>", "created_at"=&gt;Tue Apr 21 17:26:42 UTC 2009}, prefix_options{}
&gt;&gt; RepoMan::Repository.find(food.id).name
=&gt; "Food (Meat Flavored)"
&gt;&gt; food.name='Meat (Food Flavored)'
=&gt; "Meat (Food Flavored)"
&gt;&gt; food.save
=&gt; true
&gt;&gt; food.reload.path
=&gt; "<%= Scm.url_for('git', 'meat-food-flavored') %>"
&gt;&gt; food.destroy
=&gt; #&lt;Net::HTTPOK 200 OK readbody=true&gt;
  </code></pre>
  
</body>
</html>
